.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.layout {
  margin: 0 auto;
  width: fit-content;
  height: 100%;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, 1fr);

  padding: 1em 0.75em 0;
  gap: 2em 1em;
  position: relative;
}

@media screen and (min-width: 768px) {
  .layout {
    gap: 1.5em 1em;
    padding: 0.5em;
  }
}

@media screen and (min-width: 1023px) {
  .layout {
    width: fit-content;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(3, auto);
    gap: 3.25em 2em;
    padding-top: 0.25em;
  }
}
